#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
// |      | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |  | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |      |
// |      | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |  | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |      |
// |      | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |  | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |      |
// | SW25 | SW19 | SW20 | SW21 | SW22 | SW23 | SW24 |  | SW24 | SW23 | SW22 | SW21 | SW20 | SW19 | SW25 |
// |      |      |      |      | SW26 | SW27 | SW28 |  | SW28 | SW27 | SW26 |      |      |      |      |
// |      |      |      |      |      | SW29 | SW30 |  | SW30 | SW29 |      |      |      |      |      |
           bindings = <
// |      | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |           | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |      |
          &kp ESC  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5         &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp HOME
// |      | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |           | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |      |
          &kp ESC  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5          &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp HOME
// |      | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |           | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |      |
          &kp ESC  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5         &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp HOME
// | SW25 | SW19 | SW20 | SW21 | SW22 | SW23 | SW24 |           | SW24 | SW23 | SW22 | SW21 | SW20 | SW19 | SW25 |
   &kp ESC  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp A           &kp B    &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp HOME
// |      |      |      |      | SW26 | SW27 | SW28 |           | SW28 | SW27 | SW26 |      |      |      |      |
                                &kp C &kp D &kp E                &kp F &kp G &kg H
// |      |      |      |      |      | SW29 | SW30 |           | SW30 | SW29 |      |      |      |      |      |
                                      &kp I &kp J               &kp K &kp L
            >;
        };
    };
};
